@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}






:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Sidebar container styling */
.sidebar {
	width: 310px;
	height: 100vh; /* Full height of the viewport */
	display: flex;
	flex-direction: column;
	border-right: 1px solid #ddd;
	overflow: hidden; /* Prevent overflow */
  }
  
  /* Search container styling */
  .search-container {
	position: sticky;
	top: 0;
	width: 100%;
	margin-left: 8px;
	z-index: 10; /* Ensure it stays above other content */
	padding: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  /* Search input styling */
  .search-input {
	width: 70%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 10px;
  }

  .logout{
	position: sticky;
	bottom: 0;

	background: rgb(10, 70, 30);
	z-index: 10; /* Ensure it stays above other content */
	padding: 10px;
	margin: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */ 
  }
  

  /* Item list styling */
  .item-list {
	flex-grow: 1; /* Ensures it takes the remaining height */
	overflow-y: auto; /* Enables vertical scrolling */
	padding: 10px;
  }
  
  /* Individual item styling */
  .item {
	padding: 5px;
	border-bottom: 1px solid #eee;
  }
  
  .item:last-child {
	border-bottom: none; /* Remove border from last item */
  }
  


.chatpage {
	width: 300px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.chatheader {
	position: sticky;
	top: 0;
	z-index: 10; /* Ensure it stays above other content */
	padding: 10px;
}

.chatbody {
	overflow-y: scroll;
}

.chatinput {
	position: sticky;
	bottom: 0;
	z-index: -10; /* Ensure it stays above other content */
	padding: 10px;
}